.blankStateWrapper {
  margin-top: 50px;
}

.imageWrapper {
  width: 40%;
  margin: 0 auto;
  opacity: .4;
}

.image {
  width: 100%;
}

.message {
  width: 50%;
  margin: 20px auto;
  text-align: center;
  color: #939393;
}